<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raising Well Hospital</title>
</head>
<body>
    <style>
        .input{
                background-color: rgb(231, 230, 241);
                border: 3px solid rgb(64, 6, 119);
                margin: 5px;
                font-style: new roman;
                }
           .container{
            color: blue;
                }
    </style>
<h3 id="headline">Patient Entry Form</h3>
  <div class="container">
    Name: <input type="text" id="name" class="input">
  </div><br>
    <div class="container">
        Email: <input type="email" id="email" class="input">
    </div><br>
    <div  class="container">
        Phone Type: <select name="phone" id="phone">
        <option value="01">Home</option>
        <option value="02">Personale</option>
        <option value="03">Office</option>
    </select>
        Number: <input type="text" id="number" class="input">
    </div><br>
    <div class="container">
        Profile Picture:<input type="file" name="pic" id="image">
    </div><br>
    <div class="container">
        Address: <input type="text" class="input" id="Address">
    </div><br>
    <div class="container">
        <button id="button">Submitt</button>
    </div>
</body>
</html>



